@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1170px;
    background-color: whitesmoke;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
   background-color: rgb(248,248,248);
   padding: 70px;
}
.bottom{
    background-color: #d3d3d3;
    height: 50px;
    text-align: center;
    bottom: 0px;
    left: 0px;
}
.bot{
    margin-top: 5rem;
}
.col{
    width: 25%;
    padding: 15px;
}
.col h4{
    font-size: 18px;
    color: #fffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
.col ul li:not(:last-child){
    margin-bottom: 10px;
}
.col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
}
.col ul li a:hover{
    color: darkslategray;
    padding-left: 8px;
}
.col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: wheat;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}
.col .social-link a:hover{
    color: #f8f8ff;
}
/*responsive*/
@media(max-width:767px){
    .col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .col{
        width: 100%;
    }
    }